<footer class="footer">
    {{!-- <div class="content has-text-centered"> --}}
        <h3>
            &COPY; 2021 myGame
        </h3>
        <h5>
            Robert Schwartz - Samuel Odubamowo - Elias Saunders - Chris Bussiere
        </h5>
    </div>
</footer>

