<footer>
    <p> &COPY; 2021 myGame</p>
    <p> Created by <a href="https://github.com/eliassaunders" target="_blank">Elias Saunders </a>
        <a href="https://github.com/Robert-Schwartz" target="_blank">Robert Schwartz </a>
        <a href="https://github.com/Chris-t-b" target="_blank">Chris Bussiere </a>
        <a href="https://github.com/Wsamuell" target="_blank">Samuel Odubamowo </a>
</footer>