<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>My Game</strong> by <a>Robert Schwartz, Samuel Odubamowo, Elias Saunders, and Chris Bussiere</a>
        </p>
    </div>
</footer>

