
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 id="title" class="hero-text">
        <i class="fas fa-user-astronaut"></i>
            myGame
        </h1>
        </br>
        <p class="hero-text">
            A PLATFORM FOR GAMERS
        </p>
        <br>
    </div>
</div>
</section>
