
<div class="hero-body">
    <div class="container has-text-centered">
        {{!-- <progress class="progress is-small is-primary" max="100">100%</progress> --}}

        <h1 id="title" class="hero-text">
            myGame
        </h1>
        <p class="hero-text">
            A PLATFORM FOR GAMERS
        </p>
        <br>
        {{!-- <progress class="progress is-small is-primary" max="100">100%</progress> --}}
    </div>
    {{!-- <button id="sign-up" class="button is-info is-light is-medium is-fullwidth"><a href="/login"
            class="is-light is-medium">Sign Up</a></button> --}}
</div>
</section>
