<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGame</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="section">
        <div class="is-half">
            <a href="/">Home</a>
            {{#if loggedIn}}
            <a href="/profile">Profile</a>
            <button class="button is-danger is-medium home-logout" id="logout">Logout</button>
            {{else}}
            <a href="/login" class="button is-success">login</a>
            {{/if}}
        </div>
    {{> hero}}
    </nav>

    <main>
        {{{ body }}}
    </main>
    <footer>
    {{>footer}}
    </footer>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>