<form action="submit">
    <h2>What game are you adding a stat for?</h2>
    <select name="" id="">
        {{#each this}}
        <option value="">{{this.title}}</option>
        {{/each}}
    </select>
    <h2>Stat Type</h2>
    <input type="text">
    <h2>Stat Value</h2>
    <input type="text">
</form>