<article>
    <div class="column is-half">
    {{>gameSearch}}
    </div>
    <div class="column is-half">
    {{>friendSearch}}
    </div>
</article>

{{!-- Showing post from friends --}}
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-view post }}
    </li>
    {{/each}}
</ol>


{{!-- <script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script> --}}