<article class="columns">
    <div class="column is-half">
      {{>gameSearch}}
    </div>
    <div class="column is-half">
      {{>friendSearch}}
    </div>
</article>

{{!-- <script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script> --}}