<article id="homepage" class="columns">
  <div class="column">
    {{> gameSearch }}
    {{#each game}}
    <div class="is-flex-direction-row">
    <div class="card is-flex-wrap justify-content-flex-start">
      <h2 class="card-header">{{title}}</h2>
      <div class="card-content">
        <p class="card-content">{{description}}</p>
      </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="column">
    {{> friendSearch }}
  </div>
</article>