{{!-- Title --}}
<section class="hero is-primary is-small"></section>
<div class="hero-body">
    <div class="container has-text-centered">
        <progress class="progress is-small is-primary" max="100">100%</progress>

        <p class="title">
            MyGame
        </p>
        <p class="subtitle">
            A platform for gamers!
        </p>
        <progress class="progress is-small is-primary" max="100">100%</progress>
    </div>
    <button id="sign-up" class="button is-info is-light is-medium is-fullwidth"><a href="/sign-up"></a></button>
</div>
</section>

<section>
    {{>gameSearch}}
</section>

<section>
    {{>friendSearch}}
</section>
