<article class="columns">
  <div class="column is-half">
    {{> gameSearch }}
    {{#each game}}
    <div class="is-flex-direction-row">
    <div class="card is-flex-wrap justify-content-flex-start">
      <h2 class="card-header">{{game.title}}</h2>
      <div class="card-content">
        <p class="card-content">{{game.description}}</p>
      </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="column is-half">
    {{> friendSearch }}
  </div>
</article>