<article>
    {{>gameSearch}}
    {{>friendSearch}}
</article>

{{!-- Showing post from friends --}}
<ol class="post-list"></ol>
    {{#each posts as |post|}}
    <li>
        {{> post-view post }}
    </li>
    {{/each}}
</ol> 


{{!-- <script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script> --}}