{{!-- only do it if logged in --}}
{{#if loggedIn}}
<h2 class="description-text">Create New Post</h2>
<form action="" class="new-post-form box">
    <div>
        <label class="label post-title">Title</label>
        <textarea class="input is-success" placeholder="Title" id="post-title"></textarea>
    </div>
    <div>
        <label class="label post-content">Content</label>
        <textarea class="textarea is-success" placeholder="What's happening?" id="post-content"></textarea>
    </div>
    <button class="button is-primary is-outlined post-button">Post</button>
</form>
{{/if}}



<ol class="post-list">
    <h2 class="description-text">Trending Today</h2>
    {{#each posts as |post|}}
    <li>
        {{> post-view post }}
    </li>
    {{/each}}
</ol>



<script src="/javascript/postContent.js"></script>