<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <form action="/api/users/prof" method="post" enctype="multipart/form-data"> <input id="prof-img" type="file" name="avatar" class="button"/>
                </form>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.firstName}} {{user.LastName}}</strong> 
                    <small>{{user.username}}</small>
                    <br>
                </p>
            </div>
        </div>
    
        <img src="/tmp/upload/{{user.id}}.png" alt="">

    </article>
</div>
<br>
<div class="columns is-mobile is-multiline">
    <div class="column is-narrow">
    </div>
    <div class="tile is-parent is-8">
        <article class="tile is-child box">
            <p class="title">Game Stats</p>
            <div class="content">
                <p>Game information</p>
            </div>
        </article>
        <a href="/profile/addstats" class="button">Add Stats</a>
    </div>
</div>


<script src="/javascript/profilePage.js"></script>

