    <div class="columns is-mobile is-multiline">
        <div class="column is-narrow">
        </div>
        <div class="tile is-parent is-8">
            <article class="tile is-child box">
                <p class="title">My Games</p>
                <div class="content">
                    <p>Game Titles</p>
                </div>
            </article>
            <p class="bd-notification is-primary">
                <code class="html">
                <figure class="image is-128x128">
                <img src="https://image.api.playstation.com/vulcan/img/cfn/113073miFl8n5KuJvbUODdSI8QAHJwVxQEnl2RAiJczrztnMIS-g3T2CyOvhthnE5hHJ7sRZ55W76sk30gfZWILvL0UAkzbT.png">
              </figure>
           </code>
            </p>
        </div>
    </div>

    <button class="button is-info is-light is-medium is-fullwidth">Add A Game!</button>
    </div>
    <div class="columns is-mobile is-multiline">
        <div class="column is-narrow">
        </div>
        <div class="tile is-parent is-8">
            <article class="tile is-child box">
                <p class="title">Game Stats</p>
                <div class="content">
                    <p>Game information</p>
                </div>
            </article>
            <p class="bd-notification is-primary">
                <code class="html">
                <figure class="image is-128x128">
                <img src="https://image.api.playstation.com/cdn/UP0700/CUSA03388_00/v8JlD8KcQUtTqaLBmpFnj1ESRR5zMkLk.png">
              </figure>
           </code>
            </p>
        </div>
    </div>
    <button class="button is-info is-light is-medium is-fullwidth">Edit Stats</button>
    </div>
    
{{>friendsList}}