{{!-- Sign up Form with username, email, and password fields
================================================== --}}

<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <form id="file-up" action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
    </form>
    <div>
        <button type="submit">Signup</button>
    </div>
    <script src="/javascript.js"></script>
</form>